.loginLabel{
    color:#fff;
    font-size: 30px;
    margin-bottom: 0.5rem;
}

.loginform {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin:auto;
    max-width: 600px;
}

.loginform input{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0.1);
    border-color:  rgba(255,255,255,0.1);
    color: #f4f4f4;
}

.btn  {
    padding: 12px 32px;
    width: 150px;
    border-radius: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.disabled {
    padding: 12px 32px;
    width: 150px;
    border-radius: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: not-allowed; /* 마우스 커서를 'not-allowed'로 변경하여 클릭 방지 */
}

.loginform button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}

.loginBtn {
    display: flex;
}

@media screen and (max-width:640px) {
    form textarea{height: 150px;}
}

.available {
    color: #25ff25;
    position: relative;
    top: -10px; /* 원하는 수치로 조절하여 인풋 아래 중앙에 배치합니다. */
    display: block;
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
}
.duplicate{
    color: #ff5656;
    position: relative;
    top: -10px; /* 원하는 수치로 조절하여 인풋 아래 중앙에 배치합니다. */
    display: block;
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
}